<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <button mat-button [matMenuTriggerFor]="products">Products</button>
      <mat-menu #products="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="electronics">
          Electronic Devices
        </button>
        <button mat-menu-item [matMenuTriggerFor]="accessories">
          Electronic Accessories
        </button>
      </mat-menu>

      <mat-menu #electronics="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="mobile">
          Mobile & Tablets
        </button>
        <button mat-menu-item [matMenuTriggerFor]="laptops">Laptops</button>
      </mat-menu>

      <mat-menu #accessories="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="mobileaccessories">
          Mobile & Tablets
        </button>
        <button mat-menu-item [matMenuTriggerFor]="audio">Audio</button>
      </mat-menu>

      <mat-menu #mobile="matMenu">
        <button mat-menu-item>Mobiles</button>
        <button mat-menu-item>Tablets</button>
      </mat-menu>

      <mat-menu #laptops="matMenu">
        <button mat-menu-item>Traditional Laptops</button>
        <button mat-menu-item>Gaming Laptops</button>
      </mat-menu>

      <mat-menu #mobileaccessories="matMenu">
        <button mat-menu-item>Phone Cases Cover</button>
        <button mat-menu-item>Power Bank</button>
      </mat-menu>
      <mat-menu #audio="matMenu">
        <button mat-menu-item>Headphones & Headsets</button>
        <button mat-menu-item>Portable Speakers</button>
      </mat-menu>

      <a mat-list-item href="#">Notifications</a>
      <a mat-list-item>Sign Up</a>
      <a mat-list-item>Sign In</a>
      <button class="btnmove" mat-raised-button color="accent">Sign Out</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Devconnect</span>

      <span class="spacer"></span>
      <span class="main-menu">
        <button mat-button [matMenuTriggerFor]="products">Products</button>
        <mat-menu #products="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="electronics">
            Electronic Devices
          </button>
          <button mat-menu-item [matMenuTriggerFor]="accessories">
            Electronic Accessories
          </button>
        </mat-menu>

        <mat-menu #electronics="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="mobile">
            Mobile & Tablets
          </button>
          <button mat-menu-item [matMenuTriggerFor]="laptops">Laptops</button>
        </mat-menu>

        <mat-menu #accessories="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="mobileaccessories">
            Mobile & Tablets
          </button>
          <button mat-menu-item [matMenuTriggerFor]="audio">Audio</button>
        </mat-menu>

        <mat-menu #mobile="matMenu">
          <button mat-menu-item>Mobiles</button>
          <button mat-menu-item>Tablets</button>
        </mat-menu>

        <mat-menu #laptops="matMenu">
          <button mat-menu-item>Traditional Laptops</button>
          <button mat-menu-item>Gaming Laptops</button>
        </mat-menu>

        <mat-menu #mobileaccessories="matMenu">
          <button mat-menu-item>Phone Cases Cover</button>
          <button mat-menu-item>Power Bank</button>
        </mat-menu>
        <mat-menu #audio="matMenu">
          <button mat-menu-item>Headphones & Headsets</button>
          <button mat-menu-item>Portable Speakers</button>
        </mat-menu>
        <a href="#">Notification</a>
        <a>Sign Up</a>
        <a>Sign In</a>
        <button mat-raised-button color="accent">Sign Out</button>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
