<div class="container">
  <div class="row productSearch">
    <div class="col-md-2 mb-3 centercols">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>All Categories</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>

    <div class="col-md-6 mb-3 movesearchbox centercols">
      <p>
        <mat-form-field class="full-width" appearance="outline">
          <button mat-icon-button matSuffix mat-raised-button>
            <mat-icon>search</mat-icon>
          </button>
          <mat-label>Search Products brands and categories</mat-label>
          <input matInput />
        </mat-form-field>
      </p>
    </div>
    <div class="col-md-3 mb-3 centercols moveCart">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
          <p>
            <mat-icon matBadge="15" matBadgeColor="warn"
              >shopping_cart</mat-icon
            >
            <br />Cart
          </p>
        </div>
        <!-- <div class="p-2 flex-fill bd-highlight">Flex item</div>
            <div class="p-2 flex-fill bd-highlight">Flex item</div> -->
      </div>
    </div>
  </div>
</div>
