<app-search></app-search>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="notfound">
        <h1>Not Found</h1>
        <h2>We couldn’t find the page you are looking for</h2>
        <p class="-pvs -ws-pl -lh-15">
          But we have millions more shopping items for you to browse!
        </p>

        <button class="homebtn" mat-raised-button color="primary">
          GO TO HOME PAGE
        </button>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <img
        src="../../../../../assets/img/notfound.svg"
        style="max-width: 100%; height: auto"
        alt=""
      />
    </div>
  </div>
</div>
