.notfound {
  padding-top: 100px;
  text-align: left;
}

.notfound h1 {
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 24px;
}

.notfound h2 {
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 8px;
  line-height: 1.5;
}

.notfound p {
  line-height: 1.5;
}

.homebtn {
  width: 100%;
  text-align: left;
  letter-spacing: 2px;
}
