.breadcrumb {
  background-color: #fff;
  height: 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05) !important;
}

.breadcrumb p {
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 2.25rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.cartMenu {
  background-color: #000;
  color: #fff;
  height: 40px;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.cartItems {
  background-color: #fff;
  color: #000;
  padding: 1.625rem 1.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05) !important;
}

.qtybtn {
  color: #b9b9b9;
  cursor: pointer;
  line-height: 0.9375rem;
  padding: 0;
  text-align: center;
  width: 1.875rem;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.cartTotal {
  margin-left: -80px;
  margin-top: 20px;
}

.productButton {
  margin-top: -50px;
}
