<div class="container spacecontainer">
  <app-search></app-search>
  <div class="row category">
    <div
      class="col-md-2 mb-3 offset-0.8 categoryCard"
      *ngFor="let category of categories"
    >
      {{ category }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="latest">LATEST PRODUCTS</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth headphones</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><strong>$99.99</strong></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
